<div class="wrapper">
  <div class="nav">
    <app-admin-navigation></app-admin-navigation>
  </div>
  <div class="content" *ngIf="univId">
    <app-university-edit [univId]="univId"></app-university-edit>
  </div>
</div>
