<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="university && !isLoading">
  <mat-card-title>
    Show university
  </mat-card-title>
  <mat-card-subtitle>
    {{university.fullname}}
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="univForm">

      <div class="info">
        <mat-form-field>
          <input formControlName="fullname" matInput placeholder="University Full Name">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="name" matInput placeholder="University Short Name">
        </mat-form-field>
      </div>

      <div class="time">
        <mat-form-field>
          <input formControlName="zero" matInput placeholder="Time Zero">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="first" matInput placeholder="Time First">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="second" matInput placeholder="Time Second">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="third" matInput placeholder="Time Third">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="fourth" matInput placeholder="Time Fourth">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="fifth" matInput placeholder="Time Fifth">
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!univForm.valid">Save</button>
  </mat-card-actions>
</mat-card>
