<mat-spinner *ngIf="!tableData"></mat-spinner>
<table *ngIf="tableData" mat-table [dataSource]="tableData" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
  </ng-container>

  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef> Admin </th>
    <td mat-cell *matCellDef="let element"> {{element.admin}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
    <td class="text-center gray" mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editUniv(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUniv(element.id, element.fullname)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
