footer {
    height: 40px;
    background: #3f50b5;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: auto 0;
        text-align: center;
        color: #ffffff;
    }
}