<mat-card>
  <mat-card-title>
    New University
  </mat-card-title>
  <mat-card-subtitle>
    Add new university to the eSchedule
  </mat-card-subtitle>
  <mat-spinner *ngIf="isSubmit"></mat-spinner>
  <mat-card-content *ngIf="!isSubmit">
    <form [formGroup]="univForm">
      <mat-form-field>
        <input formControlName="fullname" matInput placeholder="University Full Name">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="name" matInput placeholder="University Short Name">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="adminFirstName" matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="adminLastName" matInput placeholder="Last name">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>

      <div class="pass">
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password">
        </mat-form-field>
        <button mat-icon-button (click)="refreshPass()">
          <mat-icon matSuffix>refresh</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="(!univForm.valid || !validPass)">Save</button>
  </mat-card-actions>
</mat-card>