<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="lodaded" *ngIf="!isLoading">
  <div *ngFor="let day of lessons, let i = index">
    <div class="day" *ngIf="day.length != 0">
      <h5>{{ weekDays[i] | translate }}</h5>
      <mat-table [dataSource]="day" class="mat-elevation-z8">

        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef> {{ 'time' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lesson">
          <mat-header-cell *matHeaderCellDef><span class="cell-head">{{ 'subject' | translate }}</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><span class="cell">{{element.subject}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="class">
          <mat-header-cell *matHeaderCellDef> <span class="cell-head">{{ 'classroom' | translate }}</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><span class="cell">{{element.classroom}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="teacher">
          <mat-header-cell *matHeaderCellDef><span class="cell-head">{{ 'teacher' | translate }}</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip="{{element.teacher.full_name}}"><span
              class="cell">{{element.teacher.short_name}}</span></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>