<h4>{{ 'show-schedule' | translate }}</h4>
<form>
  <mat-form-field>
    <input type="text" placeholder="{{ 'univ' | translate }}" aria-label="Number" matInput [formControl]="formUniv"
      [matAutocomplete]="univ">
    <mat-autocomplete #univ="matAutocomplete">
      <mat-option *ngFor="let option of filteredUniv | async" [value]="option.name" (click)="chooseUniv(option.id)">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="{{ 'group' | translate }}" aria-label="Number" [disabled]="!formSlide.value"
      matInput [formControl]="formGr" [matAutocomplete]="group">
    <mat-autocomplete #group="matAutocomplete">
      <mat-option *ngFor="let option of filteredGr | async" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="slide">
    <mat-slide-toggle color="primary" [formControl]="formSlide" (change)="toggleChange()"></mat-slide-toggle>
  </div>
  <mat-form-field>
    <input type="text" placeholder="{{ 'teacher' | translate }}" aria-label="Number" [disabled]="formSlide.value"
      matInput [formControl]="formTeachers" [matAutocomplete]="teacher">
    <mat-autocomplete #teacher="matAutocomplete">
      <mat-option *ngFor="let option of filteredTeachers | async" [value]="option.short_name">
        {{option.short_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<button (click)="getSchedule()" [disabled]="!formUniv.valid || (!formGr.valid && !formTeachers.valid)" mat-raised-button
  color='primary' class="show">{{'show' | translate }}</button>