h4 {
  margin: 0 0 13px 0;
  text-align: center;
  color: #797979;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  margin: 0 10px;
}

.show {
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 800px) {
  form {
    display: block;
  }
  .slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-form-field {
    width: 60%;
    margin: 0 20%;
  }
}
