h5 {
    text-align: center;
    color: gray;
}
.cell {
    text-align: center;
    width: 100%;
}
.cell-head {
    text-align: center;
    width: 100%;
}
mat-spinner {
    margin: 35px auto;
}
@media only screen and (max-width: 400px) {
    .cell-head {
        font-size: 11px;
    }
}