<div class="wrapper">
  <div class="nav">
    <app-admin-navigation></app-admin-navigation>
  </div>
  <div class="content">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <table *ngIf="!isLoading" mat-table [dataSource]="teachers" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.short_name}} </td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Fullname </th>
        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
      </ng-container>

      <ng-container matColumnDef="university" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef> University ID </th>
        <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="text-center gray" mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editTeacher(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTeacher(element.id, element.full_name)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pagination.perPage" [length]="pagination.total"></mat-paginator>
  </div>
</div>
