.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #fafafa;
}
.nav {
  min-height: 100%;
  width: 160px;
}
.content {
  height: auto;
  width: calc(100% - 160px);
}
mat-spinner {
  width: 100%;
  margin: 200px auto;
}
table {
  width: 100%;
}
