<mat-spinner *ngIf="!isLoaded"></mat-spinner>
<mat-card *ngIf="isLoaded">
  
  <mat-card-header>
    <mat-card-title>User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">username: {{user.username}}</mat-list-item>
      <mat-list-item role="listitem">email: {{user.email}}</mat-list-item>
    </mat-list>
  </mat-card-content>

  <div class="univ" *ngIf="university">
    <mat-card-header>
      <mat-card-title>University</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">name: {{university.name}}</mat-list-item>
        <mat-list-item role="listitem">fullname: {{university.fullname}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>

  <mat-card-actions>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card>