<div class="welcome">
  <div class="title">
    <h1>{{ 'welcome' | translate }}</h1>
  </div>
  <div class="search">
    <app-search-schedule></app-search-schedule>
  </div>
  <div class="nav">
    <app-navigation></app-navigation>
  </div>
</div>
