.welcome {
    background-image: url('../../../assets/img/home1.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }
    h1 {
        margin: 0;
        padding: 10px;
        color: white;
        text-align: center;
    }
}
.search {
    margin: 0 auto;
    padding: 20px;
    width: 55%;
    background-color: rgb(255, 255, 255);
    h4 {
        margin: 0 0 13px 0;
        text-align: center;
        color: #797979;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    mat-form-field {
        margin: 0 10px;
    }
    .show {
        margin: 0 auto;
        display: block;
    }
}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.schedule {
    margin-bottom: 20%;
}
@media only screen and (max-width: 1100px) {
    .search {
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .search {
        width: 100%;
        padding: 20px 0;
        form {
            display: block;
        }
        mat-form-field {
            width: 60%;
            margin: 0 20%;
        }
    }
}