<h1 mat-dialog-title>Confirm deleting university</h1>
<div mat-dialog-content>
  <p>You are going to remove {{data.fullname}}. Are you sure about this?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="warn" (click)="deleteUniv()">Delete</button>
</div>
