<div class="wrapper">
  <div class="nav">
    <app-admin-navigation></app-admin-navigation>
  </div>
  <div class="content">
    <mat-tab-group>
        <mat-tab label="Universities">
          <app-universities-list></app-universities-list>
        </mat-tab>
      <mat-tab label="Create university">
        <app-create-university></app-create-university>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
