.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.schedule {
    width: 65%;
    margin: 20px;
    &-group {
        text-align: center;
        font-size: 20px;
        color: gray;
    }
}
.left {
    position: sticky;
    top: 0;
    width: 35%;
    height: 100%;
    padding: 0 20px;
    margin-top: 20px;
}
:host ::ng-deep .left app-search-schedule {
    form {
        display: grid;
      }
      .slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
.univ {
    cursor: pointer;
    &-name{
        color: gray;
        font-size: 32px;
        text-align: center;
    }
    img {
        width: 100%;
    }    
}
.search {
    margin: 20px 10px 0 10px;
}
mat-spinner {
    margin: 35px auto;
}
@media only screen and (max-width: 450px) {
    .wrapper {
        display: block;
    }
    .left {
        position: relative;
        width: initial;
        padding: 0 30px;
    }
    .schedule {
        width: 92%;
    }
}