<app-navigation></app-navigation>
<div class="search" *ngIf="!isActive">
    <app-search-schedule></app-search-schedule>
</div>
<div class="wrapper" *ngIf="isActive">
  <div class="left">
      <div class="search">
          <app-search-schedule></app-search-schedule>
      </div>
      <mat-spinner *ngIf="!isLoaded"></mat-spinner>
      <div class="univ" (click)="toUniv()" *ngIf="isLoaded">
          <h1 class="univ-name">{{univ.name}}</h1>
          <img src="https://preview.redd.it/9v4zcnimw1m21.jpg?width=640&crop=smart&auto=webp&s=c790e9d9f8a7026d5c656bb728ed159672292464"
            alt="univ">
          <p class="univ-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates harum repudiandae,
            ducimus placeat ut tenetur quasi laborum! Autem excepturi corporis non repellat quos quia ipsam delectus
            repellendus fugit. Iste, sed!</p>
        </div>
  </div>
  <div class="schedule">
    <div *ngIf="(grid && isLoaded)">
        <h3 class="schedule-group">{{('schedule-page.schedule-for'|translate) + group.name}}</h3>
        <app-schedule [grid]="grid" [univ]="univ"></app-schedule>
    </div>
    <div *ngIf="(tid && isLoaded)">
        <h3 class="schedule-group">{{('schedule-page.schedule-for-teacher'|translate) + teacher.full_name}}</h3>
      <app-teacher-schedule [tid]="tid" [univ]="univ"></app-teacher-schedule>
    </div>
  </div>
</div>
<app-footer></app-footer>