<div class="navigation">
    <div class="nav-fixed">
        <h2 routerLink="/">eSchedule</h2>
        <mat-list *ngIf="isLoaded">
            <mat-list-item>
                <button mat-button routerLink="/admin"><i class="material-icons">home</i> Home</button>
            </mat-list-item>
            <mat-list-item *ngIf="isAdmin">
                <button mat-button routerLink="/admin/university"><i
                        class="material-icons">school</i> University</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/teacher"><i class="material-icons">person</i> Teachers</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><i class="material-icons">people</i> Groups</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><i class="material-icons">calendar_today</i> Lessons</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="logout()"><i class="material-icons">exit_to_app</i> Logout</button>
            </mat-list-item>
        </mat-list>
    </div>
</div>
