.navigation {
    background-color: #3f50b5;
    height: 100%;
    width: 100%;
    color: white;
    padding: 40px 0;
}
h2 {
    margin: 0;
    text-align: center;
}
.nav-fixed {
    position: fixed;
    width: 160px;
}
.mat-list-item {
    color: white;
    text-align: left;
}
.mat-button {
    margin: 0 auto;
}
.menu-emblem {
    width: inherit;
    margin: 0 auto;
}