<div class="wrapper">
    <div class="nav">
        <app-admin-navigation></app-admin-navigation>
    </div>
    <div class="content">
        <mat-grid-list cols="2">
            <mat-grid-tile><app-user-info></app-user-info></mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>