.login {
    height: 100vh;
    width: 100vw;
    background-color: #e6e6e6;
    &-input {
        display: flex;
        mat-form-field {
            margin: 0 auto;
        }
    }
    &-card {
        padding: 0 0 20px 0; 
        margin: 0 calc(50vw - 200px);
        width: 400px;
        height: auto;
        mat-card-title {
            text-align: center;
            background-color: #3f51b5;
            color: white;
            padding: 15px;
        }
        mat-card-content {
            margin-top: 20px;
        }
    }
    button {
        margin: 0 auto;
    }
    .emblem {
        width: 120px;
        height: 120px;
        border-radius: 10px;
        margin: 30px calc(50vw - 60px) 0 calc(50vw - 60px);
    }
    .title {
        margin: 25px 0 10px 0;
        text-align: center;
        color: #3f51b5;
    }
}