<div class="login">
  <img class="emblem" src="assets/img/eschedule-emblem.png" alt="emblem">
  <h1 class="title">eSchedule</h1>
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form class="login-form">
        <div class="login-input">
          <mat-form-field>
            <input [formControl]="email" matInput placeholder="Email">
          </mat-form-field>
        </div>
        <div class="login-input">
          <mat-form-field>
            <input [formControl]="password" matInput type="password" placeholder="Password">
          </mat-form-field>
        </div>
        <div class="login-input">
          <button [disabled]="!email.valid || !password.valid" mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>