button {
    margin: 0 10px;
}
.lang {
    font-size: 15px;
    mat-form-field {
        font-size: 15px;
        width: 120px;
    }
}
.lang-span {
    margin-right: 10px;
}
mat-toolbar-row {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.lang-img {
    margin-bottom: -9px; 
}
.menu {
    display: none;
        .nav-butt {
            justify-content: center;
        }
}
@media only screen and (max-width: 880px) {
    .menu {
        display: block;
    }
    .lang, .butt {
        display: none;
    }
    mat-toolbar {
        flex-direction: row;
    }
    button {
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .lang-img {
        margin-bottom: 0;
        margin-right: 3px; 
    }
}