<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <div class="menu">
        <button class="nav-butt" mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink=""><i class="material-icons">
                home
                </i> {{ 'nav.home' | translate }}
              </button>
              <button mat-button routerLink="/schedule"><i class="material-icons">
                event_note
                </i> {{ 'nav.schedule' | translate }}
              </button>
              <button mat-menu-item routerLink="/about"><i class="material-icons">
                info
                </i> {{ 'nav.about' | translate }}
              </button>
              <button mat-menu-item routerLink="/contact"><i class="material-icons">
                message
                </i> {{ 'nav.contact' | translate }}
              </button>
              <button mat-menu-item routerLink="/faq"><i class="material-icons">
                help
                </i> {{ 'nav.faq' | translate }}
              </button>
              <button mat-menu-item [matMenuTriggerFor]="language"><i class="material-icons">
                  language
                  </i>
                  {{'lang' | translate}}
              </button>
        </mat-menu>
        <mat-menu #language="matMenu">
          <button mat-menu-item (click)="setLang('ua')"><img class="lang-img" src="assets/img/002-ukraine.png"> Українська</button>
          <button mat-menu-item (click)="setLang('en')"><img class="lang-img" src="assets/img/001-uk.png"> English</button>
        </mat-menu>
    </div>
    <div class="butt">
        <button mat-button routerLink=""><i class="material-icons">
            home
            </i> {{ 'nav.home' | translate }}
          </button>
          <button mat-button routerLink="/schedule"><i class="material-icons">
            event_note
            </i> {{ 'nav.schedule' | translate }}
          </button>
          <button mat-button routerLink="/about"><i class="material-icons">
            info
            </i> {{ 'nav.about' | translate }}
          </button>
          <button mat-button routerLink="/contact"><i class="material-icons">
            message
            </i> {{ 'nav.contact' | translate }}
          </button>
          <button mat-button routerLink="/faq"><i class="material-icons">
            help
            </i> {{ 'nav.faq' | translate }}
          </button>
    </div>
    <div class="lang">
      <span class="lang-span">{{'lang' | translate}}:</span>
      <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option value="ua" (click)="setLang('ua')"><img class="lang-img" src="assets/img/002-ukraine.png"> Українська</mat-option>
          <mat-option value="en" (click)="setLang('en')"><img class="lang-img" src="assets/img/001-uk.png"> English</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>