.wrapper {
    justify-content: space-between;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
}

.header {
    width: 100%;
    margin: 20px;
    &-h1 {
        text-align: center;
        font-size: 28px;
        color: gray;
    }
}

@media only screen and (max-width: 450px) {
    .wrapper {
        display: block;
    }
}