<app-navigation></app-navigation>
<div class="wrapper">
    <h3 class="header-h1">{{ 'nav.faq' | translate }}</h3>
    <div class='faq-text'>
        {{ static.text }}
    </div>
</div>
<app-footer></app-footer>